Source: onedrive-tray
Section: web
Priority: optional
Maintainer: John Franklin <franklin@sentaidigital.com>
Build-Depends: debhelper-compat (=13), dh-exec, gdc, ldc, make, qtchooser, qtbase5-dev, libcurl4-openssl-dev, libdbus-1-dev, libsqlite3-dev
Standards-Version: 3.9.8
Homepage: https://github.com/DanielBorgesOliveira/onedrive_tray

Package: onedrive-tray
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, curl
Conflicts: onedrive
Description: Onedrive with system tray.
 A system tray for OneDrive Linux. This package includes the onedrive
 executable, the tray, and a user systemd service.
